<% title "#{configatron.general.blog_title} | administration | pages" %>
<div class="b-content b-content-left">
  <ul class="b-control_panel">
    <li class="b-control_panel-item">
      <%= link_to "Add page", new_admin_page_path, :class => "g-link_32 i-add_32" %>
    </li>
  </ul>
  <ul>
    <%= render :partial => "show", :collection => @pages, :as => :page %>
  </ul>
</div>