html, body, img, ul, li, a, p, span, dl, dt, dd, h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-size: 13px;
    line-height: 1.25em;
    font-family: Arial, Verdana, sans-serif;
    color: #555555;
    background: #fff;
}

a {
    color: #0095d3;
    text-decoration: underline;
}

a:visited {
    color: #8cc2d8;
}

a:hover {
    color: #fd8a51 ! important;
}

pre {
    background-color: #eee;
    padding: 10px;
    font-size: 11px;
}

h1 {
    color: black;
    font-size: 160%;
    line-height: 2em;
}

h2 {
    color: black;
    font-size: 140%;
    line-height: 1.5em;
}

.fieldWithErrors {
    padding: 2px;
    background-color: red;
    display: table;
}

#errorExplanation {
    width: 400px;
    border: 2px solid red;
    padding: 7px;
    padding-bottom: 12px;
    margin-bottom: 20px;
    background-color: #f0f0f0;
}

#errorExplanation h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    background-color: #c00;
    color: #fff;
}

#errorExplanation p {
    color: #333;
    margin-bottom: 0;
    padding: 5px;
}

#errorExplanation ul li {
    font-size: 12px;
    list-style: square;
}

.h-padding {
    padding: 0 20px;
}

.b-header {
    border-bottom: 1px solid #555555;
    padding: 10px 0;
    min-height: 18px;
    font-size: 100%;
    font-weight: bold;
}

.b-header-item-left {
    float: left;
    display: inline;
    margin-right: 30px;
}

.b-header-item-right {
    float: right;
    display: inline;
    margin-left: 30px;
}

.b-header__blog_title {
    font-size: 180%;
}

.b-header__breadcrumbs {
}

.b-header__to_site {
    padding: 0 20px;
}

.b-header__logout {
    height: 20px;
}

.b-header__logout a {
    background: url("/images/admin/logout.gif") no-repeat scroll left center;
    padding-left: 25px;
    background-position: left -19px;
    padding-bottom: 3px;
}

.b-content {
    padding: 10px 20px;
}

.b-content-left {
    float: left;
    max-width: 80%;
    overflow: hidden;

}

.b-content-right {
    float: right;
    width: 300px;
    border-left: 1px solid #555555;
}


.b-control_panel {
    list-style-type: none;
    display: block;    
}

.b-control_panel-item {
    display: inline;
    line-height: 32px;
    margin: 0 7px;    
}

.b-users-search {
    /*border-bottom: 1px solid #DDDDDD;*/
    padding: 10px 0;
}

.b-form-comment {	
	color: #008C00;
}


/*Forms*/

.b-form {
	margin: 5px 0;
}

.b-form-item {
    padding: 5px 0;
}

.b-form__label {
    font-size: 90%;
    font-weight: bold;
    display: block;
}

.b-form__input-text {
    width: 99%;
}

.b-form__input-text_smaller {
    width: 120px;
}

.b-form__input-text_smallest {
    width: 50px;
}

.b-form__input-submit {
    padding: 5px 10px;
}

.b-users__total_count {
    font-weight: bold;
}

.b-users-table {
    width: 100%;
    border: 0 none;
    border-collapse: collapse;
    border-top: 1px
}

.b-users-table th {
    text-align: left;
    border-bottom: 1px solid #DDDDDD;
}

.b-users-table th, td {
    border-collapse: collapse;
    padding: 10px 10px;
}

.b-users-table .b-user__name {
    font-style: italic;
}

.b-users-table .b-user__status__blocked {
    padding: 4px;
    color: black;
    background-color: #F08682;
}

.b-footer {
    border-top: 1px solid #555555;
    padding: 5px 0;
    clear: both;
    overflow: hidden;
}

.b-footer__mailto {
    padding: 8px 55px;
    font-size: 140%;
    background: url("/images/admin/mail.png") no-repeat scroll left center;
    display: inline;
    float: left;
}

.b-footer__connectify_logo {
    padding: 8px 55px;
    font-size: 140%;
    background: url("/images/admin/logo_48.png") no-repeat scroll left center;
    display: inline;
    float: right;
}

.b-footer__copyright {
    padding: 8px 0;
    font-size: 140%;
    display: inline;
    float: right;
}

.i-add_32 {
    background: url("/images/admin/add_32.png") no-repeat scroll left center;    
}

.i-edit_16 {
    background: url("/images/admin/edit_16.png") no-repeat scroll left center;    
}

.i-delete_16 {
    background: url("/images/admin/delete_16.png") no-repeat scroll left center;    
}

.g-link_32 {
    font-size: 120%;
    padding: 8px 0 8px 40px;    
}

.g-link_16 {
    padding: 0 0 0 20px;    
}

.g-link-no-visited:visited {
    color: #0095d3;
}

.g-inline {
    display: inline;
}