<span class="b-comment__guest_commenter_name"><%= comment.guest_commenter_name %></span>
<span class="b-comment__creation_date g-light_gray"><%= format_date comment.created_at %></span>
<%= comment_permalink_link(comment) %>
<%= comment_parent_permalink_link(comment) %>
