-remote_form_for @comment, :url => { :controller => "comments", :action => "create"}, :method => "put" do |form|
  =form.hidden_field :post_id
  =form.hidden_field :parent_comment_id
  =form.label :commenter_name, "Name"
  %br
  =form.text_field :commenter_name

  %br

  =form.label :commenter_email, "Email"
  %br
  =form.text_field :commenter_email

  %br

  =form.label :body, "Text"
  %br
  =form.text_field :body

  %br

  =form.submit "Post"