<h1><%= @post.title %></h1>

<p><%= @post.announcement %></p>
<p><%= @post.body %></p>
<p>
<div id="comments">
<h2>Комментарии</h2>
  <ul id="#{comment_0_children}">
    <% for comment in @post.comments.select { |comment| comment.parent_comment_id == 0 } %>
      <%= render :partial => "comments/show", :locals =>{ :comment => comment } %>
    <% end %>
  </ul>
</p>
</div>
   