<% content_menu %>
<%= render_user_screen_name_with_avatar(current_user) %>
<div>
  <% for favourite in @favourites %>
    <div>
      <%= favourite.object.type %>
      <%= favourite.object.title %>
    </div>
  <% end %>
</div>