<div class="sbar-item">
  <h3 class="sbar-item__heading">Tag cloud</h3>
  <div class="sbar-item__content">
    <div class="tag-cloud">
      <%= tag_cloud(tags, %w(tag1 tag2 tag3 tag4 tag5 tag6 tag7 tag8 tag9 tag10)) do |tag, css_class| %>
      <%= tag_link(tag, :class => css_class) %>
      <% end %>
    </div>
  </div>
</div>
