body
  background-color: #fff
  color: #333
  font-family: verdana, arial, helvetica, sans-serif
  font-size: 13px
  line-height: 18px
  margin: 0
  padding: 0


p, ol, ul, td
  font-family: verdana, arial, helvetica, sans-serif
  font-size: 13px
  line-height: 18px


pre
  background-color: #eee
  padding: 10px
  font-size: 11px


a
  color: #000

  &:visited
    color: #666

  &:hover
    color: black
    


h1, h2, h3, h4, h5, h6
  -x-system-font: none
  color: #333333
  font-family: Verdana
  
  font-size-adjust: none
  font-stretch: normal
  font-style: normal
  font-variant: normal
  font-weight: normal
  line-height: normal


.fieldWithErrors
  padding: 2px
  background-color: red
  display: table



#errorExplanation
  width: 400px
  border: 2px solid red
  padding: 7px
  padding-bottom: 12px
  margin-bottom: 20px
  background-color: #f0f0f0

  h2
    text-align: left
    font-weight: bold
    padding: 5px 5px 5px 15px
    font-size: 12px
    margin: -7px
    background-color: #c00
    color: #fff

  p
    color: #333
    margin-bottom: 0
    padding: 5px

  ul li
    font-size: 12px
    list-style: square

#header
  :background
    :image url("/images/header_black.png")
    :repeat repeat-x
    :position left center
  :height 100px
  :width 100%
  a
    :float left
    :color #DDDDDD
    :font-weight bold
    :font-size 110%
    :padding
      :left 20px
    &:hover
      :color white
    &.current
      :background
        :color white
  #logo
    :min-width 200px
    :float left
    :margin 0
    :height 100px
    :margin
      :left 10px
    :background
      :image url("/images/logo.png")
      :repeat no-repeat
      :position left center
    h1
      :padding
        :top 45px
      :color #DDDDDD
  #menu
    :margin 0
    :padding 0
    :float left
    :height 100px
    ul
      :line-height 2
      :list-style-type none
      :padding
        :left 20px
        :top 20px
        :bottom 20px
      li
        :float left
        :padding 0
        :margin 0
  #login
    :color #DDDDDD
    :float right
    :padding
      :left 20px
      :right 20px
    :padding
      :top 40px
      :bottom 20px  
      



#main
  :padding
    :left 20px
    :right 20px
  .entry
    :float left
    :width 100%

    a
      h1
        :text-decoration underline
    .post_parameters
      :clear both
      :float left
      :position relative
      .tags
        :background
          :image url("/images/tags.png")
          :repeat no-repeat
          :position left center
        :padding
          :left 16px
        a
          :padding
            :left 4px
          :font-size 80%
      .general_parameters
        :margin
          :top 10px
        :border 1px solid #DDDDDD
        :padding 4px
        :clear both
        :float left
        .published
          :float left
        .comments
          :float left
          :background
            :image url("/images/comments.png")
            :repeat no-repeat
            :position left center
          :padding
            :left 20px
          :margin
            :left 5px

  #content

    h1
      :font-size 180%
      :font-color #555753
      :border-bottom 1px dotted #555753
      :padding-bottom 6px
    .post_announcement_link
      :font-style italic
      :font-weight bold



  #comments
    
      
    h2
      :padding
        :left 20px
      :background
        :image url("/images/comments.png")
        :repeat no-repeat
        :position left center
    ul
      :list-style-type none
      :list-style-image none
      li.comment_0_child
        :list-style-image url("/images/marker_top.png")
    
    .author
      :padding
        :left 20px
        :top 4px
        :bottom 4px
      :background
        :image url("/images/user.png")
        :repeat no-repeat
        :position left center
      :font-weight bold
      :font-size 80%
    .date
      :font-size 80%
    #new_comment
      :background-color #DDDDDD
      :padding
        :top 10px
        :bottom 10px
        :left 20px
        :right 20px
      label
        :line-height 1.5em
        :font-weight bold
      input
        :border-color #B7B7B7 #DADADA #DADADA
        :border-style solid
        :border-width 1px
        :padding 3px 4px
        :width 250px
      textarea
        :width 500px
        :height 50px
        :border-color #B7B7B7 #DADADA #DADADA
        :border-style solid
        :border-width 1px
        :padding 3px 4px
      button
        :margin-top 10px
        :font-size 140%

      #captcha_display
        :background-color #c00
        :color #fff
        :font-size 24px
        :padding 12px
        :width 280px
        :height 24px
        :border 1px dotted #000
        :text-align center
        :letter-spacing 5px
        sup
          :display none
      #captcha
        :border-width 1px
        :border-style dotted
        :border-color black