html,
body, img, ul, li, a, p, span, dl, dt, dd, h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-size: 13px;
    line-height: 1.25em;
    font-family: Arial, Verdana, sans-serif;

    color: #121212;
    background: #fff;
}

a {
    color: #0095d3;
    text-decoration: underline;
}

a:visited {
    color: #8cc2d8;
}

a:hover {
    color: #fd8a51 ! important;
}

h1 {
    padding: 15px 0;
    line-height: 60px;
}

h2 {
    padding: 10px 0;
}

.h-padding {
    padding: 20px 40px;
}

.b-content {
    height: 100%;
    width: 100%;
    padding: 100px 0;
}

.b-content__left {
    float: left;
    width: 33%;
    text-align: right;
    padding-right: 40px;

}

.b-content__right {
    float: left;
    border-left: 2px solid #555555;
    padding-left: 40px;
}

.b-footer {
    margin-top: 40px;
    border-top: 1px solid #555555;
    padding: 20px 0 5px 0;
    clear: both;
    float: left;
    width: 100%;
    overflow: hidden;
}

.b-footer__mailto {
    padding: 8px 55px;
    font-size: 140%;
    background: url("/images/mail.png") no-repeat scroll left center;
    display: inline;
    float: left;
}

.b-footer__connectify_logo {
    padding: 8px 0 8px 55px;
    font-size: 140%;
    background: url("/images/logo_48.png") no-repeat scroll left center;
    display: inline;
    float: right;
}

.b-footer__copyright {
    padding: 8px 0 8px 30px;
    font-size: 140%;
    display: inline;
    float: right;
}

.b-footer__rblog {
    padding: 8px 0 8px 30px;
    font-size: 140%;
    display: inline;
    float: right;
}

.b-form {
    margin: 0 0 20px 0
}

.b-form__item {
    padding: 7px 0;
}

.b-form_errors {

}

.b-form_errors ul {
    list-style-type: none;
}

.b-form_errors li {
    font-size: 120%;
    color: #fd8a51;
}

.b-form__label {
/*font-weight: bold;*/
    display: block;
    font-size: 140%;
    padding: 0 0 6px 0
}

.b-form__input-text_bigger {
    font-size: 200%;
}

.b-form__input-submit {
    font-size: 160%;
    padding: 5px 20px;
}

.b-register_link {
    font-size: 140%;
}

.b-register_text {
    font-size: 140%;    
}

.g-align__right {
    float: right;
}

.g-align__left {
    float: left;
}

.g-light_gray {
    color: #555555;
}

.g-inline {
    display: inline;
}