body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 0;
  padding: 0; }

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; }

a {
  color: #000; }
  a:visited {
    color: #666; }
  a:hover {
    color: black; }

h1, h2, h3, h4, h5, h6 {
  -x-system-font: none;
  color: #333333;
  font-family: Verdana;
  font-size-adjust: none;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: normal; }

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table; }

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0; }
  #errorExplanation h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    background-color: #c00;
    color: #fff; }
  #errorExplanation p {
    color: #333;
    margin-bottom: 0;
    padding: 5px; }
  #errorExplanation ul li {
    font-size: 12px;
    list-style: square; }

#header {
  background-image: url("/images/header_black.png");
  background-repeat: repeat-x;
  background-position: left center;
  height: 100px;
  width: 100%; }
  #header a {
    float: left;
    color: #DDDDDD;
    font-weight: bold;
    font-size: 110%;
    padding-left: 20px; }
    #header a:hover {
      color: white; }
    #header a.current {
      background-color: white; }
  #header #logo {
    min-width: 200px;
    float: left;
    margin: 0;
    height: 100px;
    margin-left: 10px;
    background-image: url("/images/logo.png");
    background-repeat: no-repeat;
    background-position: left center; }
    #header #logo h1 {
      padding-top: 45px;
      color: #DDDDDD; }
  #header #menu {
    margin: 0;
    padding: 0;
    float: left;
    height: 100px; }
    #header #menu ul {
      line-height: 2;
      list-style-type: none;
      padding-left: 20px;
      padding-top: 20px;
      padding-bottom: 20px; }
      #header #menu ul li {
        float: left;
        padding: 0;
        margin: 0; }
  #header #login {
    color: #DDDDDD;
    float: right;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
    padding-bottom: 20px; }

#main {
  padding-left: 20px;
  padding-right: 20px; }
  #main .entry {
    float: left;
    width: 100%; }
  #main .post_parameters {
    clear: both;
    float: left;
    position: relative; }
    #main .post_parameters .tags {
      background-image: url("/images/tags.png");
      background-repeat: no-repeat;
      background-position: left center;
      padding-left: 16px; }
      #main .post_parameters .tags a {
        padding-left: 4px;
        font-size: 80%; }
    #main .post_parameters .general_parameters {
      margin-top: 10px;
      border: 1px solid #DDDDDD;
      padding: 4px;
      clear: both;
      float: left; }
      #main .post_parameters .general_parameters .published {
        float: left; }
      #main .post_parameters .general_parameters .comments {
        float: left;
        background-image: url("/images/comments.png");
        background-repeat: no-repeat;
        background-position: left center;
        padding-left: 16px;
        margin-left: 5px; }
  #main #content h1 {
    font-size: 180%;
    font-color: #555753;
    border-bottom: 1px dotted #555753;
    padding-bottom: 6px; }
  #main #content .post_announcement_link {
    font-style: italic;
    font-weight: bold; }
  #main #comments ul {
    list-style-type: none; }
  #main #comments #new_comment {
    background-color: #DDDDDD; }
    #main #comments #new_comment textarea {
      width: 500px;
      height: 50px; }
  #main #captcha_display {
    background-color: #c00;
    color: #fff;
    font-size: 24px;
    padding: 12px;
    width: 280px;
    height: 24px;
    border: 1px solid #000;
    text-align: center;
    letter-spacing: 5px; }
    #main #captcha_display sup {
      display: none; }
