html,
body, img, ul, li, a, p, span, h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-size: 80%;
    line-height: 1.25em;
    font-family: Arial, Verdana, sans-serif;

    color: #121212;
    background: #fff;
}

a {
    color: #0095d3;
    text-decoration: underline;
}

a:visited {
    color: #8cc2d8;
}

a:hover {
    color: #fd8a51 ! important;
}

h1 {
    font-size: 240%;
    margin: 20px 0;
}

h2 {
    margin: 15px 0 5px 0;
}

/** layout **/
.h-padding {
    padding: 20px 40px;
}

.h-padding-top {
    padding: 38px 0 0;
}

.h-padding-bottom {
    margin: 70px 0 0;
    padding: 0 0 58px;

    font-size: 90%;
}

/** header **/

.b-header {
    margin-bottom: 10px;
    width: 100%;
    clear: both;
}

.b-header .b-blog_name {
    font-size: 140%;
    line-height: 3.5em;
    margin: 0 0 0 30px;
}

.b-header .b-account_information {
    margin: 0 15px 0 0
}

.b-header .b-account_information .b-user_name {
    font-weight: bold;
}

/** menu **/
.b-menu {
    display: block;
    line-height: 3.5em;
    margin: 0 100px 0 0;
    padding: 0;
}

.b-menu__item {
    display: inline;

    list-style: none;

    margin: 0 1em;
    padding: 0;
}

.b-content {
    float: left;
    width: 66%;
}

.b-footer {
    border-top: 2px solid #555555;
    padding-top: 20px;
    margin-top: 10px;
    float: left;
    width: 100%;
}

.b-content-posts__item{
    margin-bottom: 30px;
    list-style: none;
}

.b-post__publish_date {
    font-weight: bold;
    font-size: 90%;
}

.b-post__content_preview {
    margin: 10px 0 10px 10px
}

.b-post__read_all_link {
    margin-top: 10px;
    display: block;
    font-weight: bold;
}

.b-post__tags {
    padding-left: 20px;
    background: url("/images/tags.png") no-repeat left center;
    margin-bottom: 4px;   
}

.b-post__tags__item, .b-post__tags__item:visited {
    color: #555555;
}

.b-post__parameters {
    clear: both;

}

.b-post__paramameters__item {
    display: inline;
    margin-right: 15px;
}

.b-post__rating {
    font-weight: bold;
    font-size: 90%;
}

.b-post__rating__value {
    font-size: 130%;
    margin: 0 3px 0 8px;
    color: black;
}

.b-post__rating__increase {
    padding-left: 16px;
    padding-top: 2px;
    padding-bottom: 2px;
    background: url("/images/increase.png") no-repeat left center
}

.b-post__rating__decrease {
    padding-left: 16px;
    padding-top: 2px;
    padding-bottom: 2px;
    background: url("/images/decrease.png") no-repeat left center
}

.b-post__author_login {
    font-weight: bold;
    font-size: 90%;
}

.b-post__author_login__link {
    font-weight: normal;
    padding-left: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
    background: url("/images/author.png") no-repeat left center
}

.b-post__comments_count {
    font-weight: bold;
    font-size: 90%;
}

.b-post__comments_count__link {
    font-weight: normal;
    padding-left: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
    background: url("/images/comments.png") no-repeat left center
}

.b-post__announcement {
    padding-bottom: 15px;
    border-bottom: 1px dashed #555555;
    margin-bottom: 15px;
}

.g-align__right {
    float: right;
}

.g-align__left {
    float: left;
}

.g-light_gray {
    color: #555555;
}

.g-two_lines {
    padding-top: 0.55em;
    line-height: 1.2em;
}

.g-one_line {
    line-height: 3.5em;
}

.g-indent {
    text-indent: 1em;
}

.g-javascript_link{
    text-decoration: none;
}

.g-javascript_link__value {
    font-weight: normal;
    color: #555555;
    border-bottom: 1px dotted #555555; 
}

.b-copyright {

}


