/* @override http://www.macrabbit.com/cssedit/welcome/2.5/welcome.css */

html,
body, img, ul, li, a, p, span, dl, dt, dd, h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
  border: 0;
  height: 100%;
}

body {
  font-size: 13px;
  line-height: 1.25em;
  font-family: Lucida Grande, droid sans, futura, Arial, helvetica, sans-serif;
  color: #121212;
  background: #fff;
}

a {
  color: #0088CC;
  text-decoration: underline;
  white-space: no-wrap;
}

a:visited {
  color: #8cc2d8;
}

a:hover {
  color: #fd8a51;
}

a.more {
  padding-right: 7px;
  margin-right: 3px;
  background: url("/images/a_arrow.gif") no-repeat scroll 100% 50% transparent;
}

a.js_link {
  text-decoration: none;
}

.b-js_link__value {
  font-weight: normal;
  color: #0095d3;
  border-bottom: 1px dotted #0095d3;
}


h1 {
  font-size: 240%;
  margin: 0.3em 0;
  line-height: 30px;
  color: #333333;
}

h2 {
  font-size: 160%;
  line-height: 1.2em;
  margin: 10px 0;
  color: #333333;
}

h3 {
  font-size: 120%;
  margin: 10px 0;
  line-height: 1em;
  color: #333333;
}

/** layout **/

.l-centered {
  max-width: 920px;
  margin: 0 auto;
  padding: 0 15px;
}

.l-wide {
  padding: 0 50px;
}


.push {
  height: 6em;
  padding-bottom: 4em;
}

.h-padding {
  padding: 0 2.5em;
}

.h-padding-top {
  padding: 38px 0 0;
}

.h-padding-bottom {
  margin: 70px 0 0;
  padding: 0 0 58px;
  font-size: 90%;
}

.b-header {
  font-weight: bold;
  clear: both;
  height: 70px;
/*  padding: 1em 0;*/
  background: url("/images/header-bg.png") repeat-x scroll left bottom #E8E8E8;
}

.b-blog-title {
  font-size: 160%;
   padding: 20px 0;
}

.b-blog-title a {
  display: block;
  padding: 6px;
  color: #333333;
  text-shadow: 1px 1px 2px #999999;
  text-decoration: none;
}

.b-account-information {
/*  line-height: 3.9em;*/
  padding: 25px 0;
}

.b-login {
  width: 31em;
}

.b-main {
margin: 0 auto -71px;
min-height: 100%;
height: auto !important;

}

.content {
  padding: 1em 0;
}

.content-left {
  float: left;
  width: 100%;
}

.content-left__padding {
  padding: 0 400px 0 0;
}

.content-right {
  float: right;
  width: 400px;
  margin-left: -400px;
}

.content-right__padding {
  padding: 0;
  position: relative;
}

.sbar-item {
  margin: 2em;
  margin-right: 0;
  border-left: 2px solid #333333;
/*  -moz-border-radius: 4px;*/
/*  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);*/
/*  -webkit-border-radius: 4px;*/
/*  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);*/
  padding-bottom: 10px;
}

.sbar-item__heading {
  font-size: 160%;
  color: #333333;
  margin: 0;
  padding: 10px 10px 0;
}

.sbar-item__content {
  margin: 10px 10px 0;
}

.b-footer {
  background: url("/images/footer-bg.gif") repeat-x scroll left top #E8E8E8;
  padding: 1.5em 0;
  clear: both;
  overflow: hidden;
  color: #333333;
}

.b-footer__mailto {
  padding: 8px 55px;
  font-size: 120%;
  background: url("/images/mail.png") no-repeat scroll left center;
  display: inline;
  float: left;
}

.b-footer__connectify_logo {
  padding: 8px 0 8px 55px;
  font-size: 120%;
  background: url("/images/logo_48.png") no-repeat scroll left center;
  display: inline;
  float: right;
}

.b-footer__copyright {
  padding: 8px 0 8px 30px;
  font-size: 120%;
  display: inline;
  float: right;
  font-weight: bold;
}

.b-footer__rblog {
  padding: 8px 30px;
  font-size: 120%;
  display: inline;
  float: right;
}

.b-menu-wrapper {

  clear: both;
  float: left;
  width: 100%;
  background: url("/images/menu-bg.png") repeat-x left bottom #333333;
  border-top: 2px solid #555555;
/*  padding-bottom: 13px;*/
/*   border-bottom: 2px solid #555555;*/
}

/*.b-menu {
  background-color: #222222;
  float: left;
  width: 100%;
  border-top: 2px solid #555555;
  border-bottom: 2px solid #555555;

}
*/
.b-submenu {
  float: left;
  border-bottom: 2px solid #555555;
  border-top: none; /*-moz-border-radius: 4px;    */
}

.b-menu__list {
/*  margin: 0 2.5em;*/
}

.b-submenu__list {
  padding: 0.5em 2.5em;
}

.b-menu__item {
  float: left;
  position: relative;
  list-style-type: none;
  display: inline;
  font-size: 120%;
  line-height: 1.8em;
  padding: 4px 15px;
}

.b-menu__item-left {
  border-right: 1px solid #555555;
  float: left;
}

.b-menu__item-left:first-child {
  border-left: 1px solid #555555;
}

.b-menu__item-right {
  border-right: 1px solid #555555;
  float: right;
}

.b-menu__item-right:last-child {
  border-left: 1px solid #555555;
}

.b-menu__item  a {
  color: #EEEEEE;
  text-decoration: underline;
  position: relative;
  white-space: nowrap;
}

.b-menu__item  a:hover {
  text-decoration: none;
}

.b-menu__item-current {
  background: url("/images/bg.gif") repeat scroll 0 0 transparent;
  /*    font-weight: bold;*/
}

.b-menu__item-current a {
/*  color: #FFFF99;*/
color: #66CC33;
text-decoration: none;
}

.b-menu__post_add__link {
  background: url("/images/add_post_32.png") no-repeat left center;
  padding: 8px 0 8px 40px;
}

.b-submenu__item {
  padding: 0 5px;
  display: inline;
  list-style-type: none;
}

.b-submenu__item a {
  font-size: 120%;
}

.b-submenu__item a:hover{
  text-decoration: none;
}

.b-submenu__item-current {

  font-weight: bold;
}

.b-submenu__item-current a{
  text-decoration: none;
}



.b-posts-item-wrapper {
  list-style: none;
  border-bottom: 1px solid #DDDDDD;
}

.b-posts-item-wrapper:last-child {
  border: none;
}

.b-post {
  padding: 1em 0;
}

.b-post__publish_date {
  font-weight: bold;
  font-size: 90%;
  float: left;
}

.b-bost__content_type_image {
  vertical-align: middle;
}

/* Posts content and content-preview */
/**************************************************/

.b-post-content {
  margin: 15px 0 15px 10px;
  float: left;
  width: 100%;
}

.b-post__content_preview {
  margin: 15px 0 15px 10px;
  float: left;
  width: 100%;
}

/* Topic */
.b-post-topic__read_all_link {
  margin: 1em;
  margin-bottom: 0;
  display: block;
  font-weight: bold;
  text-indent: 0;
}

.b-posts__topic__announcement {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 4px solid #AAAAAA !important;
}

.b-posts__topic__body {
}

/* Link */
.b-post-link__url {
  font-size: 140%;
  margin: 5px;
  padding: 7px;
  border: 2px solid #DDDDDD;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  float: left;
  clear: both;
  text-indent: 0;
}

/**************************************************/

.b-post__tags {
  padding-left: 20px;
  background: url("/images/tags.png") no-repeat left center;
  margin-bottom: 1em;
  float: left;
}

.tag {
/*  font: 14px/normal "Arial Narrow", Arial, sans-serif;*/
font-size: 14px;
text-transform: lowercase;
color: #999999;
padding: 2px;
}

.tag:visited {
  color: #999999;
}

.tag:hover {
  background-color: #E8E8E8;
  color: #333333;
}

.tag1 { font-size: 14px; }
.tag2 { font-size: 15px; }
.tag3 { font-size: 16px; }
.tag4 { font-size: 17px; }
.tag5 { font-size: 18px; }
.tag6 { font-size: 19px; }
.tag7 { font-size: 20px; }
.tag8 { font-size: 21px; }
.tag9 { font-size: 22px; }
.tag10 { font-size: 23px; }

.tag-cloud {
  text-align: center;
}

.tag-cloud a{
  line-height: 1.6em;
}

.b-post__parameters {
  clear: both;
  margin-bottom: 1em;
}

.b-post__paramameters__item {
  display: inline;
  margin-right: 15px;
}

.b-post__paramameters__item a {
  min-width: 16px;
  min-height: 16px;
  display: inline-block;
}

.b-post__toggle_favourite__add {
  background: url("/images/favourite.png") no-repeat left bottom
}

.b-post__toggle_favourite__remove {
  background: url("/images/favourite.png") no-repeat left top
}

.b-post__rating {
  font-weight: bold;
  font-size: 90%;
}

.b-post__rating__value {
  font-size: 130%;
  margin: 0 0 0 3px;
  color: black;
}

.b-post__rating__increase {
  padding-left: 16px;
  padding-top: 2px;
  padding-bottom: 2px;
  background: url("/images/increase.png") no-repeat left center
}

.b-post__rating__decrease {
  padding-left: 16px;
  padding-top: 2px;
  padding-bottom: 2px;
  background: url("/images/decrease.png") no-repeat left center
}

.b-bost__twitter_image {
  vertical-align: middle;
}

.b-bost__delicious_image {
  vertical-align: middle;
}

.b-bost__digg_image {
  vertical-align: middle;
}

.b-post__author_login {
  font-weight: bold;
  font-size: 90%;
}

.b-post__author_login__link {
  font-weight: normal;
  padding-left: 20px;
  padding-top: 2px;
  padding-bottom: 2px;
  background: url("/images/author.png") no-repeat left center
}

.b-post__comments_count {
  font-weight: bold;
  font-size: 90%;
}

.b-post__comments_count__link {
  font-weight: normal;
  padding-left: 20px;
  padding-top: 2px;
  padding-bottom: 2px;
  background: url("/images/comments.png") no-repeat left center;
}

.b-post-edit_link {
  background: url("/images/edit_post_16.png") no-repeat left center;
  padding: 5px 0 5px 20px;
  font-size: 110%;
  margin-left: 2em;
}

.b-post__category {
  font-size: 200%;
  font-weight: bold;
  margin-bottom: 5px;
}

.b-post__comments_list {
  padding-left: 15px;
  margin: 10px 0;
  list-style-type: square;
}

.b-post__comments_list__nested {
  padding-left: 0;
  margin-left: 25px;
  list-style-type: none;
}

.b-comment__creation_date {
  font-weight: bold;
  font-size: 90%;
}

.b-add_comment__link {
  font-size: 140%;
  margin-bottom: 15px;
}

.b-comment {
  padding: 2px 0; 
}

.b-comment_form {
  margin: 10px 25px;
}

.b-comment__guest_commenter_name {
  font-style: italic;
}

.b-captcha-wrapper {
  margin-top: 5px;
}

.b-captcha-display {
  background-color: #c00;
  color: #fff;
  text-align: center;
  padding: 5px 30px;
  display: inline;
}

.b-captcha-input {
  margin-left: 20px;
  display: inline;
}

.avatar {
  border: 2px solid #E8E8E8;
  padding: 3px;
  vertical-align: middle;
}

.form {
  border: 1.5em solid #E8E8E8;
  padding: 1em 2em;
}

.form-login {
  width: 36em;
  margin: 3em auto 0;
}

.form-user__new {
  width: 36em;
  margin: 3em auto 0;
}

.form-comment {
  margin-top: 0.5em;
  color: #555555;
}

.form h1 {
  margin-top: 0;
}

.form table {
  width: 100%;
}

.form table, tr, td{
  border: 0;
  margin: 0;
  padding: 0;
}

.form_errors {
}

.form_errors h3{
  margin-top: 0;
  font-size: 120%;
}

.form_errors ul {
  list-style-type: none;
  color: #fd8a51;
  font-weight: bold;
}

.form_errors li {
  padding-left: 20px;
  margin-top: 4px;
  background: url("/images/bullet_orange.png") no-repeat left center;
}

fieldset {
  margin: 5px 10px;
  border: 2px solid #DDDDDD;
}

legend {
  font-style: italic;
}

.form__item {
  padding: 5px 0;
}

.form__item_legend {
  font-style: italic;
  font-size: 100%;
  display: block;
  color: #666666;
  margin: 0.3em 0;
}

.form__item_legend__example {
  font-weight: bold;
}

.form__item_legend__warning {
  color: #fd8a51;
  font-weight: bold;
}

.form__label {
  font-weight: bold;
  display: block;
  color: #333333;
  margin-right: 1em;
  margin-bottom: 0.2em;
}

.form__input-text {
  width: 99%;
  font-size: 120%;
  padding: 3px;
}

.form__input-text_bigger {
  font-size: 160%;
}

.form__input-text_short {
  height: 100px;
}

.form__input-submit {
  font-size: 140%;
  padding: 5px 20px;
  cursor: pointer;
  font-weight: 700;
}

.b-page__navigation {
  font-size: 120%;
  margin-bottom: 2em;
}

.b-user-table-wrapper {
}

.b-user-table {
  width: 100%;
}

.b-user-table th {
  font-size: 120%;
}

.b-user-table th, td {
  text-align: left;
}

.b-user-table td {
  padding: 0 0 25px 0;
}

.b-user-table dt {
  font-weight: bold;
  font-size: 120%;
  padding: 0 0 6px 0
}

.b-user-table .b-reputation-value {
  font-size: 120%;
  font-weight: bold;
  color: #0F8925;
}

.b-user-table .b-power-value {
  font-size: 120%;
  font-weight: bold;
  color: #0F8925;
}

.b-user {

}

.b-pagination {
  font-size: 140%;
}

.b-pagination__buttons {
  line-height: 3em;
}

.b-pagination__buttons a {
  margin-right: 1em;
}

.b-pagination__pages a {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.b-pagination a:visited {
  color: #0088CC;
}

.b-pagination a:hover {
  color: #fd8a51;
}

.b-pagination__pages a:hover {
  background-color: #8cc2d8;
}

.b-pagination__pages .current {
  padding-left: 0.5em;
  padding-right: 0.5em;
  background-color: #8cc2d8;
  color: #333333;
}

h1.avatared img {
  vertical-align: middle;
  margin-right: 20px;
}

.b-profile-edit_link {
   f
  padding: 5px 0 5px 20px;
  font-size: 110%;
}

/*content of posts, pages and comments*/
.b-data { font: 13px/1.5em Arial, Verdana, sans-serif; color: #333333; text-indent: 1em; }
.b-data p { margin-top: 0.4em; margin-bottom: 0.4em; }
.b-data pre { text-indent: 0; }
.b-data table { margin:1em 0 !important; }
.b-data table th {
  font-weight: bold;
}
.b-data table td {
  border-bottom:1px solid #DDDDDD !important;
  padding:0.2em 1em !important;
}
.b-data table td.definition{
  color: #999999;
  font-weight: bold;
  width: 100px;
  text-align: right;
}
.b-data table td.action{
  float: right;
  font-weight: bold;
  width: 100px;
  text-align: right;
}

.b-commit-information {
  width: 800px;
  border:1px solid #DDDDDD;
  margin: 1em 0;
  padding: 0.5em;
}

.b-commit-information .version-message {
  padding: 0.5em;
}

.b-commit-information .latest-commited{
  background-color: #99CC65;
}

.b-commit-information .outdated{
  background-color: #FF9966;
}

.b-commit-information .tagged{
  background-color: #99CC65;
}

.g-align__right {
  float: right;
}

.g-align__left {
  float: left;
}

.g-light_gray {
  color: #555555;
}

.g-two_lines {
  padding-top: 0.55em;
  line-height: 1.2em;
}

.g-one_line {
  line-height: 3.5em;
}

.g-indent {
  text-indent: 1em;
}

.g-link-no-visited:visited {
  color: #0095d3;
}

.g-link-no-visited:hover {
  color: #fd8a51;
}

.g-hidden {
  display: none;
}

.g-inline {
  display: inline;
}

.g-font-bigger {
  font-size: 120%;
  letter-spacing: -1px;
}

.date {
  font-family:georgia;
  
}

.nowrap {
  white-space: nowrap;
}

.clearfix {
  //zoom: 1;
  //width: expression(runtimeStyle.width = "auto", appendChild(createElement("big")));
}

.clearfix:after {
  content: ".";
}

.clearfix big {
  //width: expression(runtimeStyle.width = "auto", innerHTML = ".");
}

.clearfix:after,
.clearfix big {
  display: block;
  clear: both;

  height: 0;
  visibility: hidden;
  font-size: 0;
  line-height: 0
}


