<div class="b-footer">
  <div class="b-links g-align__left">
    
  </div>
  <div class="b-copyright g-align__right g-light_gray">
    © 2009 — <%= Date.today.year %>
    <a href="http://github.com/igor-alexandrov/rblog" target="_blank">RBlog</a>
    <br>
    <a href="http://www.connectify.ru" target="_blank">www.connectify.ru</a>
  </div>
</div>