<div class="b-footer__mailto">
  <%= mail_to configatron.general.blog_contact_email, configatron.general.blog_contact_email %>
</div>
<div class="b-footer__copyright">
  © 2009 — <%= Date.today.year %>
</div>
<div class="b-footer__rblog">
  <%= link_to "RBlog", "http://github.com/igor-alexandrov/rblog"%>
</div>
<div class="b-footer__connectify_logo">
  <%= link_to "www.connectify.ru", "http://www.connectify.ru" %>
</div>

