#logo
  %h1
    Keep it simple!
#menu
  %ul
    -for page in Page.roots
      %li
        = link_to h(page.title), page
#login
  -if current_user
    You are logged in as:
    =current_user.login
    %br
    =link_to "Logout", admin_logout_path
  -else
    =link_to "Login", admin_login_path
          
          

