#header_content
  %h1
    //=link_to "Блог твеского программиста", root_path
    Блог тверского программиста
  #nav
    %ul
      -for page in Page.roots
        %li
          = link_to h(page.title), page
          
          

