#menu
  %ul
    -for page in Page.roots
      %li
        = link_to h(page.title), page

.blog_name
  =link_to "Блог", root_path
Работает на
%a(href="http://github.com/igor-alexandrov/rblog")
  RBlog
%hr