-title "RBlog"
%posts
  -for post in @posts
    .entry
      .entry_content
        %h1
          =post.title
        -unless post.announcement.empty?
          =post.announcement
        -else
          =post.body
        %br
        %span.post_announcement_link
          =link_to "Читать полностью", post
      .post_parameters
        .tags
          -cache post_url(post, :action_suffix => "tags") do
            -for tag in post.tag_list
              =link_to tag, posts_tag_path(tag)
        .general_parameters
          .published
            =post.created_at.strftime("%d %B %Y")
          .comments
            =post.comments_count
        
