=link_to "Добавить новый пост", new_admin_post_path
%h1
  All posts
%table
  %thead
    %tr
      %th
        Created
      %th
        Title
      %th
        Excerpt (announcement and body)
      %th
        Status
      %th
        X
  %tbody
    -for post in @posts
      %tr
        %td
          =post.created_at.strftime("%d %b, %Y")
        %td
          =link_to post.title, admin_post_path(post)
        %td
          =truncate(post.announcement, :length =>100)
          =truncate(post.body, :length =>100)
        %td
          =post.status
        %td
          
          = link_to 'X', admin_post_path(post), :confirm => 'Are you sure?', :method => :delete
  %tfoot
    %tr
      %th
        Created
      %th
        Title
      %th
        Excerpt (announcement and body)
      %th
        Status
      %th
        X