=link_to "Добавить новый пост", new_admin_post_path
%table
  %tbody
    -for post in @posts
      %tr
        %td
          =post.created_at
        %td
          =link_to post.title, admin_post_path(post)
        %td
          =post.announcement
        %td
          =truncate(post.body, :length =>100)
        %td
          =post.status
        %td
          = link_to 'Edit', edit_admin_post_path(post)
          = link_to 'Destroy', admin_post_path(post), :confirm => 'Are you sure?', :method => :delete