<% unless post.content.announcement.nil? %>
    <%= post.content.announcement %>
    <span class="b-post__read_all_link"> <%= link_to "Read all", post %> </span>
<% else %>
    <%= post.content.body %>
<% end %>