<% unless content.announcement.blank? %>
    <div class="b-posts__topic__announcement">
      <%= content.announcement %>
    </div>
<% end %>

<div class="b-posts__topic__body">
  <%= content.body %>
</div>