<% title "#{configatron.general.blog_title} | administration" %>

<h1><%= link_to "posts and comments", admin_posts_path %></h1>
<h1><%= link_to "users", admin_users_path %></h1>
<h1><%= link_to "pages", admin_pages_path %></h1>

