<div class="b-footer">  
  <div class="b-mailto">
    <%= mail_to configatron.general.blog_contact_email %>
  </div>
  <div class="b-r_blog-promo">
    powered by <%= link_to "RBlog", "http://github.com/igor-alexandrov/rblog"%>
  </div>
  <div class="b-copyright">        
    © 2009 — <%= Date.today.year %>     
  </div>
</div>