<% content_menu(:current_selected => "add_post") %>
<h1 class="g-light_gray">You are creating a new post</h1>
<div class="b-post-add_type">
  <a href="#">Topic</a>
  <a href="#">Link</a>
  <a href="#">Tanslation</a>
</div>
<%= render :partial => "form" %>

