%h1 
  =@post.title
%p
  =@post.announcement
%p
  =@post.body

%p
  %h2
    Комментарии
  %ul{:id => "comment_0_children"}

    =render :partial => "comments/show", :collection => @post.comments.select { |comment| comment.parent_comment_id == 0 }, :as => :comment
    =render :partial => "comments/new"