-title "RBlog ‒ " + @category.title
%posts
  -for post in @category.posts
    .entry
      .entry_content
        %h2
          =link_to post.title, post_path(post)
        -unless post.announcement.empty?
          =post.announcement
        -else
          =post.body
        %br
        %span.post_announcement_link
          =link_to "Read all", post
      =render :partial => "posts/post_details" , :locals => {:post => post}