%h1
  All preferences
%p
  Change this parameters to configure your blog.

%h2
  Google Analytics
%p
  Your Google Analytics account is not defined. If you want to use Google Analytics define your account.
%h2
  Yandex Direct
%p
  Your Yandex Direct account is not defined. 