<div class="b-footer__mailto">
    <a href="mailto://info@connectify.ru">info@connectify.ru</a>
</div>
<div class="b-footer__copyright">
    © 2009 — <%= Date.today.year %>
</div>
<div class="b-footer__connectify_logo">
    <%= link_to "www.connectify.ru", "http://www.connectify.ru" %>
</div>
